{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
{{ super() }}
<style type="text/css">
    .jumbotron {
        background: #36D1DC;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #5B86E5, #36D1DC);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }

    .form {
        width: 800px;
        height: 100px;
    }
</style>
<div class="jumbotron">
    <h1>Quick, Read</h1>
    <p class="lead">A readings synthesizer</p>
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.sep_len.label }} <br>
        {{form.sep_len(size=80)|safe}}
        <br>
        {{ form.output_len.label }}<br>
        {{form.output_len(size=80)}}
        <br>
        <br>
        {{ form.submit() }}
    </form>
</div>
{% endblock %}