{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="jumbotron">
    <h1>Quick, Read</h1>
    <p class="lead">A readings synthesizer</p>
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.sep_len.label }} <br>
        {{form.sep_len(size=80)|safe}}
        <br>
        {{ form.input_url.label }}<br>
        {{form.input_url(size=80)}}
        <br>
        {{ form.output_len.label }}<br>
        {{form.output_len(size=80)}}
        <br>
        {{ form.submit() }}
    </form>
</div>
{% endblock %}