{% extends "base.html" %} {% block title %}Home{% endblock %} {% block body %}
{{ super() }}
<style type="text/css">
  .jumbotron {
    background: #36d1dc;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5b86e5B8, #83EAF1B8);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5b86e5B8, #83EAF1B8);
  }
</style>
<div class="jumbotron">
  <h1>Quick, Read</h1>
  <p class="lead">Read more articles in less time</p>
  <form method="POST">
    {{ form.hidden_tag() }} {{ form.input_txt.label }} <br />
    {{form.input_txt(cols=50, rows=10)}}
    <br />
    <br />
    {{ form.output_len.label }}<br />
    {{form.output_len(size=90)}}
    <br />
    <br />
    <!-- {% for subfield in form.smry_type %}
    <tr>
      <td>{{ subfield }}</td>
      <td>{{ subfield.label }}</td>
    </tr>
    {% endfor %}
    <br />
    <br /> -->
    {{ form.submit() }}
  </form>
</div>
{% endblock %}